header {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  color: #00277E;
}
.header__left {
  margin-right:600px;
  padding: 20px;
  font-weight: bold;
  font-size: large;
}

.header__light__item {
  display: flex;
  flex-direction: row-reverse;
  display: inline-block;
  padding: 10px;
  font-weight: bold;
}
main {
  position: relative;
  margin-top: 50px;
  width: 1050px;
}

.firstvew__title{
  position: absolute;
  top: 220px;
  left: 0%;
  font-size: 50px;
  font-weight: 500;
}

.backgraund{
  position: absolute;
  top: 320px;
  left: 0%;
  width: 800px;
  height:250px;
  background: #00277E;
  z-index: 0;
}
.firstvew__jpeg img{
  position: absolute;
  top: 0%;
  left: 40%;
  z-index: 10;
	width: 750px;
	height: 500px;	
}