body{
  margin-bottom: 10px;
}
header {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
}
.header__left {
  margin-right: auto;
  padding: 20px;
  font-weight: bold;
  font-size: large;
}

.header__light__item {
  display: flex;
  flex-direction: row-reverse;
  display: inline-block;
  padding: 10px;
  font-weight: bold;
}
main {
  position: relative;
  margin-top: 50px;
}

.firstvew__title{
  position: absolute;
  top: 400px;
  left: 0%;
  font-size: 50px;
}
.firstvew__jpeg{
  position: absolute;
  top: 0%;
  left: 50%;
  width: 50%;
  align-items: light;
  display: block;
  z-index: 10;
  margin: 0 0 0 0;
}
.backgraund{
  position: absolute;
  top: 500px;
  left: 0%;
  width: 70%;
  height:250px;
  background: #00277E;
  z-index: 0;
}